.titulo{
    text-align: center;
}
body{
    background-color: #996B42;
}
.presentacion{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    border-radius: 70px;
}