*{
    padding: 0;
    margin: 2px;
    
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(Imagenes/fondo.png);
}
body #principal{
    margin-right: 5%;
    margin-left: 5%;
}
#yo{
    border-radius: 120px;
    float: left;
    transition: transform 0.5s;
}
#yo:hover{
    transform: scale(1.02);
}
.inicio{
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 25px;
}
p{
    text-align: justify;
    color: lightblue;
    font-size: 14px;
}
