*{
    margin:0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background-image: url(Perro/fonod.jpeg);
    background-size: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;
}
body .principal{
    background-color: rgb(255, 255, 255);

    margin-right: 5%;
    margin-left: 5%;
}
.principal #logo{
    float: right;
    display: flex;
}
.selec{
    background-color: aqua;
}
.subt{
    text-align: center;
}
ul.menu{
    background-color: rgb(126, 126, 126);
    width: 100%;
    list-style: none;
    display: flex;
}
ul.menu li{
    width: 34%;
    text-align: center;
}
ul.menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: block;
    padding: 10px 0px;
}
#inicio .centerimg{
    display: block;
    margin: auto;
}
#inicio p{
    text-align: center;
}
.secciones{
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.secciones article{
    padding: 20px;
}
.secciones article a{
    text-align: justify;
}
#pri{
    border-style: double;
    border-color: indigo;
}
#cachorro{
    padding-left: 10px;
    padding-right: 10px; 
    border-style: double;
    border-color: gold;
}
#cachorro .centerimg{
    display: block;
    margin: auto;
    width: 400px;
    height: 200px;
    border-radius: 100px;
    
}
#adol{
    padding-left: 10px;
    padding-right: 10px; 
    border-style: double;
    border-color: dodgerblue;
    text-align: center;
}
#adol .centerimg{
    display: block;
    margin: auto;
    width: 400px;
    height: 200px;
    border-radius: 100px;
}
#adul{
    padding-left: 10px;
    padding-right: 10px; 
    border-style: double;
    border-color: darkred;
    text-align: center;
}
#adul .centerimg{
    display: block;
    margin: auto;
    width: 400px;
    height: 200px;
    border-radius: 100px;
}
.s{
    font-weight: bold;
}
#crianza #cimg{
    display: block;
    margin: auto;
    width: 600px;
    height: 400px;
    border-radius: 100px;
}
#enlaces{
    border-radius: 10px;
    border-style: double;
    background-color: gray;
    float: left;
}
#enlaces a{
    text-decoration: none;
    color: white;
}
ol,ul{
    list-style: none;

}
#prev{
    margin-top: 40px;
    border-style: double;
    border-color: cyan;
}
#hig{
    border-style: double;
}
.cent{
    display: block;
    margin: auto;
    border-radius: 100px;
}
#prev-pelig{
    border-style: double;
    border-color: red;
}
#prev-alim{
    border-style: double;
    border-color: green;
}
#prev-idf{
    border-style: double;
    border-color: blueviolet;
}